#Location: .github/workflows/custom_config.yml

name: Build and push container to Dockerhub and deploy
env:
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
  GITHUB_SHA: ${{ github.sha }}

on:
  push:
    branches:
      - master #Use your own branch here (Might be staging or testing)
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Git clone on our repo
        uses: actions/checkout@v2

      - name: Login to Dockerhub
        run: make login

      - name: Build Containers
        run: make build

      - name: Push to Dockerhub
        run: make push

      - name: SSH deploy
        uses: appleboy/ssh-action@master
        with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.KEY }}
            port: ${{ secrets.PORT }}
            script: |
                docker service update --force --image ghcr.io/golemfactory/golem-stats-frontend:${{ github.sha }} golemstats_frontend
  